
<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mailing list</title>
</head>
<body>
    <<h1> Приветствуем {{ name }} ! Появилась новая статья в твоей любимой категории!</h1>
    <p> Заголовок: {{ post.title  }} <br>
        Краткое описание: {{ post.text|truncatechars:50 }} </p>
    <p> Ссылка на статью: <a href="http://127.0.0.1:8000{% url 'post_detail' post.id %}">здесь</a> <br> </p>

</body>
</html>