{% extends 'flatpages/default.html' %}
{% load custom_tags %}
{% load cache %} <!-- Загружаем кэширование -->
{% load tz %}
{% load i18n %}


    {% block title %}
   {% trans "<h3>Все новости!</h3>" %}
    {{ news | length }}


{% get_current_timezone as TIME_ZONE %}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="timezone">Time zone:</label>
        <select name="timezone">
            {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Set">
    </form>

    {{ TIME_ZONE }}
    {{ current_time|timezone:TIME_ZONE }} <!-- Отображаем время в выбранном часовом поясе  -->
{% endblock title %}
{% block content %}
{% trans "<h1>Последние новости:</h1>" %}


<hr>
{% if posts %}

<table>
    <tr>
        <td>{% trans "<h5>Название</h5>" %}</td>
        <td>{% trans "<h5>Дата публикации</h5>" %}</td>
        <td>{% trans "<h5>Рейтинг поста</h5>" %}</td>
        <td>{% trans "<h5>Категория</h5>" %}</td>
        <td>{% trans "<h5>Описание</h5>" %}</td>
        <td>{% trans "<h5>Тип</h5>" %}</td>
    </tr>

    {% for post in posts %}
    <tr>
        <td>{{ post.title|truncatechars:50}}</td>
        <td>{{ post.datecreation|date:'d M Y' }}</td>
        <td>{{ post.rating }}</td>
        <td>{% for cat in post.postCategory.all %}
            {{cat}}
            {% endfor %}
        </td>
        <td>{{ post.text |truncatechars:20 }}</td>
        <td>{{ post.category_type }}</td>
    </tr>
    {% endfor %}

</table>
{% else %}
<h2>Новостей нет!</h2>
{% endif %}
{% if page_obj.has_previous %}
<a href="?{% url_replace page=1 %}">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}


{{ page_obj.number }}


{% if page_obj.has_next %}
<a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}

{% endblock content %}


